@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;

}

body {
  margin: 0;

}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

.crimson-text {
  font-family: "Crimson Text", sans-serif;
  font-optical-sizing: auto;
}

hr {
  border-color: #e5e7eb;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px); /* Optional: add a slight upward movement */
  transition: opacity 0.8s ease-out, transform 1.5s ease-out;
  will-change: opacity, transform; /* Optimize for animation performance */
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}